<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Muebles con líneas limpias y simples, funcionalidad y sostenibilidad para que tu baño sea único.">
    <meta name="keywords" content="muebles, madera, comodidad, baño, funcional, espejo">
    <title>Baño</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="icon" type="image/jpg" href="../img/logo.jpg"/>
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link rel="stylesheet" href="../assets/scss/footer.css">
    <link rel="stylesheet" type="text/css" href="../assets/scss/baño.css">
    <script src="https://kit.fontawesome.com/811bede37d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="desktop">
        <div class="logo-desktop">
            <img src="../img/logo.jpg">
        </div>
    <nav class="nav_links" id="nav">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="./nosotros.html">Nosotros</a></li>
            <li><a href="./dormitorio.html">Dormitorio</a></li>
            <li><a href="./cocinayliving.html">Cocina y Living</a></li>
            <li><a href="./baño.html">Baño</a></li>
        </ul>
    </nav>
    <div class="buscar-desktop">
        <input class="buscador" type="search" name="buscador" placeholder="Producto...">
        <input class="boton" type="submit" value="Buscar" placeholder="Producto..." >
    </div>
    </header>
    <div class="fondo-baño">
    <h1 class="titulo-baño">Baño</h1>
    </div>

    <div class="productosC">

        <div class="productosC-container">
            <h4>Armario Winter</h4>
            <img src="../img/baño/armario.webp">
            <h4>$3000</h4>
            <button class="boton-carrito">Agregar al carrito</button>
        </div>

        <div class="productosC-container">
            <h3>Armario Summer</h3>
            <img src="../img/baño/armario2.webp">
            <h4>$3000</h4>
            <button class="boton-carrito">Agregar al carrito</button>
        </div>

        <div class="productosC-container">
            <h3>Banco</h3>
            <img src="../img/baño/banco.webp">
            <h4>$900</h4>
            <button class="boton-carrito">Agregar al carrito</button>
        </div>

        <div class="productosC-container">
            <h3>Carrito</h3>
            <img src="../img/baño/carrito.webp">
            <h4>$10000</h4>
            <button class="boton-carrito">Agregar al carrito</button>
        </div>

        <div class="productosC-container">
            <h4>Espejo</h4>
            <img src="../img/baño/espejo.webp">
            <h4>$2200</h4>
            <button class="boton-carrito">Agregar al carrito</button>
        </div>
    </div>

    <div class="ventas">
        <div class="ventas-titulo">
            <h2>Qué podés encontrar acá?</h2>
            <ul>
            <li>Espejos</li>
            <li>Gabinetes</li>
            <li>Organizadores</li>
            <li>Accesorios</li>
            </ul>
        </div>
    </div>
    <footer class="container-fluid">
        <div id="contacto" class="row">
            <div class="contacto-lista col-lg-6 col-md-12" >
            <h3>Contactanos</h3>
            <ul>
                <li>El Salvador 4600, CABA</li>
                <li>4797-3502</li>
                <li>goldenwood@gmail.com</li>
            </ul>
            </div>
            <div class="contacto-redes col-lg-6 col-md-12">
            <h3>Redes</h3>
            <h4 class="redes">Seguinos en <a href="https://www.instagram.com/" target=_BLANK>Instagram</a> y <a href="https://es-la.facebook.com/" target=_BLANK>Facebook</a> para enterarte de todo!</h4> <!-- falta crear paginas-->
            </div>
        </div>
        <div class="row">
            <h6 class="col-12">Derechos Reservados</h6>
            
        </div> 
    </footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

</body>
</html>