<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Muebles con líneas limpias y simples, funcionalidad y sostenibilidad para que tu baño sea único."
		/>
		<meta
			name="keywords"
			content="muebles, madera, comodidad, baño, funcional, espejo"
		/>
		<title>Baño</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>
		<link rel="icon" type="image/jpg" href="../img/logo.jpg" />
		<link rel="stylesheet" href="../assets/css/nav.css" />
		<link rel="stylesheet" href="../assets/scss/footer.css" />
		<link rel="stylesheet" type="text/css" href="../assets/scss/baño.css" />
		<script
			src="https://kit.fontawesome.com/811bede37d.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<!--mobile-->
		<header id="mobile">
			<div class="dropdown desplegable_caja">
				<div class="logo-mobile">
					<img class="rounded-circle" src="../img/logo.jpg" />
				</div>
				<div class="buscar-mobile">
					<input
						class="buscador"
						type="search"
						name="buscador"
						placeholder="Producto..."
					/>
					<input
						class="boton"
						type="submit"
						value="Buscar"
						placeholder="Producto..."
					/>
				</div>
				<button
					class="btn btn-secondary dropdown-toggle boton-desplegable"
					type="button"
					id="dropdownMenuButton"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					<i class="fas fa-bars"></i>
				</button>
				<div
					class="dropdown-menu menu-desplegable"
					aria-labelledby="dropdownMenuButton"
				>
					<i class="fas fa-user usuario"></i>
					<i class="fas fa-shopping-cart carrito"></i>
					<a class="dropdown-item" href="../index.html">Home</a>
					<a class="dropdown-item" href="./nosotros.html">Nosotros</a>
					<a class="dropdown-item" href="./dormitorio.html">Dormitorio</a>
					<a class="dropdown-item" href="./cocinayliving.html">Cocina y living</a>
					<a class="dropdown-item" href="./baño.html">Baño</a>
				</div>
			</div>
		</header>

		<!--desktop-->
		<header id="desktop">
			<div class="logo-desktop">
				<img src="../img/logo.jpg" />
			</div>
			<nav class="nav_links" id="nav">
				<ul>
					<li><a href="../index.html">Home</a></li>
					<li><a href="./nosotros.html">Nosotros</a></li>
					<li><a href="./dormitorio.html">Dormitorio</a></li>
					<li><a href="./cocinayliving.html">Cocina y Living</a></li>
					<li><a href="./baño.html">Baño</a></li>
				</ul>
			</nav>
			<div class="buscar-desktop">
				<i class="fas fa-user usuario"></i>
				<i class="fas fa-shopping-cart carrito"></i>
				<input
					class="buscador"
					type="search"
					name="buscador"
					placeholder="Producto..."
				/>
				<input
					class="boton"
					type="submit"
					value="Buscar"
					placeholder="Producto..."
				/>
			</div>
		</header>
		<div class="fondo-baño">
			<h1 class="titulo-baño">Baño</h1>
		</div>

		<div id="row-1">
			<!-- 1440 Estante - gabinete -->
			<div
				id="carouselExampleControls"
				class="carousel slide large"
				data-ride="carousel"
			>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Estante Gina</h4>
								<img src="../img/baño/estante1.webp" />
								<h4>$10000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Estante Mel</h3>
								<img src="../img/baño/estante2.webp" />
								<h4>$12000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Estante Diana</h3>
								<img src="../img/baño/estante3.webp" />
								<h4>$8000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Estante Hilda</h3>
								<img src="../img/baño/gabinete1.webp" />
								<h4>$10000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Gabinete Eva</h4>
								<img src="../img/baño/gabinete2.webp" />
								<h4>$5000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Gabinete Karime</h3>
								<img src="../img/baño/gabinete3.webp" />
								<h4>$7000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Gabinete Yalena</h3>
								<img src="../img/baño/gabinete4.webp" />
								<h4>$8000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
							<div class="productosC-container">
								<h3>Gabinete Dana</h3>
								<img src="../img/baño/gabinete5.webp" />
								<h4>$8000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
				</div>
				<a
					class="carousel-control-prev changeColor"
					href="#carouselExampleControls"
					role="button"
					data-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a
					class="carousel-control-next changeColor"
					href="#carouselExampleControls"
					role="button"
					data-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<!-- 1024 Estante - gabinete-->
			<div
				id="carouselExampleControls"
				class="carousel slide medium"
				data-ride="carousel"
			>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Cama Angélica</h4>
								<img src="../img/baño/estante1.webp" />
								<h4>$10000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Estante Mel</h3>
								<img src="../img/baño/estante2.webp" />
								<h4>$12000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Estante Diana</h3>
								<img src="../img/baño/estante3.webp" />
								<h4>$8000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Gabinete Hilda</h4>
								<img src="../img/baño/gabinete1.webp" />
								<h4>$10000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Gabinete Eva</h3>
								<img src="../img/baño/gabinete2.webp" />
								<h4>$5000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Gabinete Karime</h3>
								<img src="../img/baño/gabinete3.webp" />
								<h4>$7000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Gabinete Yalena</h4>
								<img src="../img/baño/gabinete4.webp" />
								<h4>$8000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Gabinete Dana</h3>
								<img src="../img/baño/gabinete5.webp" />
								<h4>$8000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
				</div>
				<a
					class="carousel-control-prev changeColor"
					href="#carouselExampleControls"
					role="button"
					data-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a
					class="carousel-control-next changeColor"
					href="#carouselExampleControls"
					role="button"
					data-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<!-- 768 Estante - gabinete-->
			<div
				id="carouselExampleControls"
				class="carousel slide small"
				data-ride="carousel"
			>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Cama Angélica</h4>
								<img src="../img/baño/estante1.webp" />
								<h4>$10000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Estante Mel</h3>
								<img src="../img/baño/estante2.webp" />
								<h4>$12000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Estante Diana</h4>
								<img src="../img/baño/estante3.webp" />
								<h4>$8000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Gabinete Hilda</h3>
								<img src="../img/baño/gabinete1.webp" />
								<h4>$10000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Gabinete Eva</h4>
								<img src="../img/baño/gabinete2.webp" />
								<h4>$5000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Gabinete Karime</h3>
								<img src="../img/baño/gabinete3.webp" />
								<h4>$7000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Gabinete Yalena</h4>
								<img src="../img/baño/gabinete4.webp" />
								<h4>$8000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Gabinete Dana</h3>
								<img src="../img/baño/gabinete5.webp" />
								<h4>$8000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
				</div>
				<a
					class="carousel-control-prev changeColor"
					href="#carouselExampleControls"
					role="button"
					data-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a
					class="carousel-control-next changeColor"
					href="#carouselExampleControls"
					role="button"
					data-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<!-- 425 Estante - gabinete -->
			<div
				id="carouselExampleControls"
				class="carousel slide xsmall"
				data-ride="carousel"
			>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Cama Angélica</h4>
								<img src="../img/baño/estante1.webp" />
								<h4>$10000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Estante Mel</h4>
								<img src="../img/baño/estante2.webp" />
								<h4>$12000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Estante Diana</h4>
								<img src="../img/baño/estante3.webp" />
								<h4>$8000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Gabinete Hilda</h4>
								<img src="../img/baño/gabinete1.webp" />
								<h4>$10000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Gabinete Eva</h4>
								<img src="../img/baño/gabinete2.webp" />
								<h4>$5000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Gabinete Karime</h4>
								<img src="../img/baño/gabinete3.webp" />
								<h4>$7000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Gabinete Yalena</h4>
								<img src="../img/baño/gabinete5.webp" />
								<h4>$8000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Gabinete Dana</h4>
								<img src="../img/baño/gabinete5.webp" />
								<h4>$8000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
				</div>
				<a
					class="carousel-control-prev changeColor"
					href="#carouselExampleControls"
					role="button"
					data-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a
					class="carousel-control-next changeColor"
					href="#carouselExampleControls"
					role="button"
					data-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

		<div id="row-2">
			<!-- 1440 Set -->
			<div
				id="carouselExampleControls2"
				class="carousel slide large"
				data-ride="carousel"
			>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Celeste</h4>
								<img src="../img/baño/set1.webp" />
								<h4>$15000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Set Oriana</h3>
								<img src="../img/baño/set2.webp" />
								<h4>$20000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Set Mali</h3>
								<img src="../img/baño/set3.webp" />
								<h4>$25000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Set Lea</h3>
								<img src="../img/baño/set4.webp" />
								<h4>$15000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Cristal</h4>
								<img src="../img/baño/set5.webp" />
								<h4>$30000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Set Vegas</h3>
								<img src="../img/baño/set6.webp" />
								<h4>$25000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Set Athina</h3>
								<img src="../img/baño/set7.webp" />
								<h4>$25000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
							<div class="productosC-container">
								<h3>Set Tania</h3>
								<img src="../img/baño/set8.webp" />
								<h4>$30000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
				</div>
				<a
					class="carousel-control-prev changeColor"
					href="#carouselExampleControls2"
					role="button"
					data-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a
					class="carousel-control-next changeColor"
					href="#carouselExampleControls2"
					role="button"
					data-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<!-- 1024 Set-->
			<div
				id="carouselExampleControls2"
				class="carousel slide medium"
				data-ride="carousel"
			>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Celeste</h4>
								<img src="../img/baño/set1.webp" />
								<h4>$15000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Set Oriana</h3>
								<img src="../img/baño/set2.webp" />
								<h4>$20000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Set Mali</h3>
								<img src="../img/baño/set3.webp" />
								<h4>$25000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Lea</h4>
								<img src="../img/baño/set4.webp" />
								<h4>$15000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Set Cristal</h3>
								<img src="../img/baño/set5.webp" />
								<h4>$30000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Set Vegas</h3>
								<img src="../img/baño/set6.webp" />
								<h4>$25000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Athina</h4>
								<img src="../img/baño/set7.webp" />
								<h4>$25000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Set Tania</h3>
								<img src="../img/baño/set8.webp" />
								<h4>$30000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
				</div>
				<a
					class="carousel-control-prev changeColor"
					href="#carouselExampleControls2"
					role="button"
					data-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a
					class="carousel-control-next changeColor"
					href="#carouselExampleControls2"
					role="button"
					data-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<!-- 768 Set-->
			<div
				id="carouselExampleControls2"
				class="carousel slide small"
				data-ride="carousel"
			>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Celeste</h4>
								<img src="../img/baño/set1.webp" />
								<h4>$15000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Set Oriana</h3>
								<img src="../img/baño/set2.webp" />
								<h4>$20000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Mali</h4>
								<img src="../img/baño/set3.webp" />
								<h4>$25000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Set Lea</h3>
								<img src="../img/baño/set4.webp" />
								<h4>$15000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Cristal</h4>
								<img src="../img/baño/set5.webp" />
								<h4>$30000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Set Vegas</h3>
								<img src="../img/baño/set6.webp" />
								<h4>$25000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Athina</h4>
								<img src="../img/baño/set7.webp" />
								<h4>$25000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>

							<div class="productosC-container">
								<h3>Set Tania</h3>
								<img src="../img/baño/set8.webp" />
								<h4>$30000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
				</div>
				<a
					class="carousel-control-prev changeColor"
					href="#carouselExampleControls2"
					role="button"
					data-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a
					class="carousel-control-next changeColor"
					href="#carouselExampleControls2"
					role="button"
					data-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<!-- 425 Set -->
			<div
				id="carouselExampleControls2"
				class="carousel slide xsmall"
				data-ride="carousel"
			>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Celeste</h4>
								<img src="../img/baño/set1.webp" />
								<h4>$15000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Oriana</h4>
								<img src="../img/baño/set2.webp" />
								<h4>$20000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Mali</h4>
								<img src="../img/baño/set3.webp" />
								<h4>$25000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Lea</h4>
								<img src="../img/baño/set4.webp" />
								<h4>$15000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Cristal</h4>
								<img src="../img/baño/set5.webp" />
								<h4>$30000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Vegas</h4>
								<img src="../img/baño/set6.webp" />
								<h4>$25000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Athina</h4>
								<img src="../img/baño/set7.webp" />
								<h4>$25000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="productosC">
							<div class="productosC-container">
								<h4>Set Tania</h4>
								<img src="../img/baño/set8.webp" />
								<h4>$30000</h4>
								<button class="boton-carrito">Agregar al carrito</button>
							</div>
						</div>
					</div>
				</div>
				<a
					class="carousel-control-prev changeColor"
					href="#carouselExampleControls2"
					role="button"
					data-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a
					class="carousel-control-next changeColor"
					href="#carouselExampleControls2"
					role="button"
					data-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

		<footer class="container-fluid">
			<div id="contacto" class="row">
				<div class="contacto-lista col-lg-6 col-md-12">
					<h3>Contactanos</h3>
					<ul>
						<li>El Salvador 4600, CABA</li>
						<li>4797-3502</li>
						<li>goldenwood@gmail.com</li>
					</ul>
				</div>
				<div class="contacto-redes col-lg-6 col-md-12">
					<h3>Nuestras redes</h3>
					<div class="redes">
						<a href="https://www.instagram.com/" target="_BLANK"
							><i class="fab fa-instagram instagram"></i
						></a>
						<a href="https://es-la.facebook.com/" target="_BLANK"
							><i class="fab fa-facebook facebook"></i
						></a>
					</div>
					<!-- falta crear paginas-->
				</div>
			</div>
			<div class="row">
				<h6 class="col-12">Derechos Reservados</h6>
			</div>
		</footer>

		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
			integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
			crossorigin="anonymous"
		></script>
	</body>
</html>
