@mixin flexCenter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

footer {
	text-align: center;
	background: #3d453f;
}

#contacto > * {
	margin: 1em 0;
}

.contacto-lista {
	@include flexCenter();
	h3 {
		color: gainsboro;
	}
}

.contacto-redes {
	@include flexCenter();
	text-align: center;
	padding: 2em 0;
	h3 {
		color: gainsboro;
	}
	h4 {
		color: grey;
	}
}
